<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <h1>테스트중</h1>
        <button onclick="location.href='/menu/7'"> 칠번 메뉴보기</button>
        <button onclick="location.href='/menu/list'">전체 메뉴보기</button>
        <button onclick="location.href='/menu/querymethod'">쿼리 메소드 테스트하기</button>
        <button onclick="location.href='/menu/regist'">메뉴 입력하기</button>
        <button onclick="location.href='/menu/modify'">메뉴 이름 수정하기</button>
        <button onclick="location.href='/menu/delete'">메뉴 삭제하기</button>

        <div>
            <h1>과제</h1>
            <button onclick="location.href='/menu/menuName'">메뉴 검색</button>
        </div>



</body>
</html>